// ***********************************
// IMAGES
// ***********************************
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

// ***********************************
// ICONS
// http://fortawesome.github.io/Font-Awesome/icons/
// ***********************************

@import url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

.fa-apple{
	font-size: 30px;
	padding-right: 5px;
}


 
